@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Playfair+Display:wght@400;600&display=swap');

:root {
  --clr-background: #ded9bc;
  --clr-accent: #296273;
  --clr-text: #091b1d;
  --clr-light-text: #85a69f;
  --clr-link: #f55848;

  --ff-headdings: 'Nunito', sans-serif;
  --ff-main: 'Playfair Display', serif;

  --fw-thin: 200;
  --fw-regular: 400;
  --fw-bold: 600;

  --fs-small: 0.85rem;
  --fs-regular: 1.1rem;
  --fs-medium: 1.5rem;
  --fs-large: 2rem;
  --fs-xlarge: 2.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

img,
svg {
  width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: 100svh;
  background: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--ff-main);
  font-size: var(--fs-regular);
}

#root {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

/* Utility */

main,
.container {
  width: calc(100% - 1.5rem);
  margin-inline: auto;
}

@media screen and (min-width: 650px) {
  main,
  .container {
    width: min(90%, 1400px);
  }
}

.grid {
  display: grid;
  grid-template-columns: var(--grid-columns, 1fr);
  grid-template-rows: var(--grid-rows, 1fr);
  gap: var(--gap, 1rem);
}

.flex {
  display: flex;
  flex-direction: var(--flex-dir, row);
  justify-content: var(--flex-justify, space-between);
  align-items: var(--flex-align, center);
  gap: 1rem;
}

.sr-only {
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  top: -100%;
  left: -100%;
}

/* base stules */

h1,
h2,
h3 {
  font-family: var(--ff-headdings);
  margin: 0;
}

h1 {
  font-weight: var(--fw-thin);
  font-size: var(--fs-xlarge);
}

h2 {
  font-weight: var(--fw-thin);
  font-size: var(--fs-large);
}

h3 {
  font-weight: var(--fw-regular);
  font-size: var(--fs-medium);
}

a {
  color: var(--clr-link);
  transition: color 450me ease;
}

a:where(:hover, :focus-visible) {
  color: inherit;
}

p {
  margin: 0;
}

/* Components */

header,
footer {
  background-color: var(--clr-accent);
  color: var(--clr-light-text);
  padding-block: 0.5rem;
}

header .container {
  --flex-dir: column;
}

header div .nav-box {
  --flex-dir: column;
}

header div .nav-list {
  --flex-dir: row;
}

header a {
  color: var(--clr-light-text);
  text-decoration: none;
  transition: color 400ms ease;
}

header a:where(:hover, :focus-visible) {
  color: var(--clr-link);
}

@media screen and (min-width: 680px) {
  header .container {
    --flex-dir: row;
  }

  header div .nav-box {
    --flex-dir: row;
  }
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  font-size: var(--fs-medium);
  font-family: var(--ff-headdings);
  text-transform: uppercase;
  margin-right: 1rem;
  cursor: pointer;
}

nav input {
  font-size: var(--fs-regular);
  padding: 0.15rem;
  border-radius: 7px;
}

footer .container {
  display: flex;
  justify-content: center;
}
